<div class="row">
  <div class="col-md-5">
    <app-receipe-list></app-receipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
<!--    <app-receipe-details-->
<!--      *ngIf="recipe; else infoText"-->
<!--      [recipeDetails]="recipe">-->
<!--    </app-receipe-details>-->
<!--    <ng-template #infoText>-->
<!--      <p attributeDirective [hoverColor]="'red'" [nonHoverColor]="'green'">Select a recipe from the left to be displayed here!</p>-->
<!--    </ng-template>-->
  </div>
</div>
